@model WebStore.ViewModels.ProductViewModels.ColorFormViewModel

@{
    ViewData["Title"] = "Formularz koloru";
}

<h1 class="font-weight-light">Dodaj kolor</h1>
<hr />
<br />

@using (Html.BeginForm("ColorForm", "Product"))
{
    @Html.AntiForgeryToken()

    <div class="text-danger">@Html.ValidationSummary()</div>
    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="col-md-1"></div>

        <div class="form-group col-md-3">
            @Html.Label("Kolory, które są już w bazie")
            @Html.DropDownListFor(x => x.Colors, new SelectList(Model.Colors, "Id", "Name"), new { @class = "form-control" })
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Dodaj nowy kolor</button>
}