@model WebStore.Models.Type

@{
    ViewData["Title"] = "Formularz dodawania typu";
}

<h1 class="font-weight-light">Dodaj typ</h1>

<hr />
<br />


@using (Html.BeginForm("TypeForm", "Product"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Dodaj nowy typ</button>
}