@model User
@{
    ViewData["Title"] = "Info";
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "noimage.png");
}

<h1 class="display-4">@Model.FirstName @Html.DisplayText(" ") @Model.LastName</h1>
<hr />
<br />
<p>Usuń</p>

@if (Model.PhotoPath != null)
{
    <img src="@photoPath" class="rounded float-right img-fluid" asp-append-version="true" style="height: 25%; width: 25%;">
}

<div class="card-body text-center">

    <ul>

        <li>Email: @Model.Email</li>
        <li>Płeć: @Model.Gender.Name</li>
        <li>Numer telefonu: @Model.PhoneNumber</li>
        <li>Miasto: @Model.Town</li>

    </ul>

</div>