@model IEnumerable<User>
@{
    ViewData["Title"] = "CustomersList";
}


<link rel="stylesheet" type="text/css" href="~/css/Customer/index.css"/>


<h1 class="display-3">Baza klientów</h1>
<hr />
<br />



<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Imię i Nazwisko</th>
        <th scope="col">Login</th>
        <th scope="col">Edycja</th>
        <th scope="col">Usuń</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {

        <tr id ="@user.UserName">
            <td>@Html.ActionLink(@user.FirstName + " " + @user.LastName,
                    "Details", "Customer", new {username = user.UserName})</td>
            <td>@user.UserName</td>
            <td>@Html.ActionLink("Edytuj", "Edit",
                    "Customer", new {Id = user.Id})</td>
            <td>
                <button data-user-username="@user.UserName" type="button" class="btn btn-danger btn-sm js-delete-user">Usuń</button>
            </td>
        </tr>
    }

    </tbody>
</table>


@section scripts
{ 
    
    <script>

        $(document).ready(function() {
            $(".js-delete-user").click(function(e) {
                var button = $(e.target);
                var username = button.attr("data-user-username");
                $.ajax({
                    url: '/api/account/'.concat(username),
                    type: 'DELETE',
                    success: function (response) {
                        $("#".concat(username)).fadeOut();
                    }
                });
            });
        });


    </script>

}